{#login/templates/login/forget.html#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码找回</title>
</head>
<body>
     <div style="margin: 15% 40%;">
        <h1>欢迎找回密码！</h1>
       <form action="/forget/" method="post">
            {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
        {% csrf_token %}

            <p>
                <label for="id_username">用户名：</label>
                <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required />
            </p>
          
            <p>
                <label for="id_mail">邮箱：</label>
                <input type="text" id="id_mail" placeholder="邮箱" name="mail" required >
            </p>
            <input type="submit" value="确定">
        </form>
    </div>



</body>
</html>